<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>DevAppCorp</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>
<div class="container">
    <div >
              
        <h1>Hello</h1>
        
        <input type="button" onclick="location.href='/students';" value="List of Students" />
        <input type="button" onclick="location.href='/students/new';" value="Add Student" />
        
    </div>
</div>

</body>
</html>