<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: header"></head>
<body>

<nav th:replace="template :: nav"></nav>

<div class="jumbotron">
    <div class="container">
        <h4 class="display-4"><b>Seja bem-vindo ao SchoolCloud</b></h4>
        <h5 class="display-5"><i><br/>O site que ajuda alunos e orientadores em seu TCC</i></h5>
        <h5 class="display-5"><p><b><br/>Aqui você terá:</b>
        <br/><br/>Proteção com o uso de login e senha
        <br/>Notificações de projetos
              
        <br/><br/><b>Alunos:</b>
        <br/>Solicitar orientação        
     </p></h5>
        <p><a class="btn btn-primary btn-lg" th:href="@{/students}" role="button">Visualizar Estudantes »</a></p>
    </div>
</div>

<footer th:replace="template :: footer"></footer>

</body>
</html>