<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Insert a Student</title>

</head>
<body>
<!--/*@thymesVar id="student" type="br.uff.ic.devappcorp.entities.StudentDto"*/-->
<div class="container">
  

    <h2>Student Details</h2>
    <div>
        <form class="form-horizontal" th:object="${student}" th:action="@{/students}" method="post">
            
            <div class="form-group">
                <label class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{name}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">CPF:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{taxNumber}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Email:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{email}"/>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
                <a th:href="@{/}">Home</a>
            </div>
        </form>
           
    </div>
</div>

</body>
</html>