<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: header"></head>
<body>

<nav th:replace="template :: nav"></nav>


<div class="container">
    
    <div th:if="${not #lists.isEmpty(professorRequests)}">
        <h2>Student Requests List</h2>
        <table class="table table-striped">
            <tr>
                <th>Tax Number</th>
                <th>Student Requesting</th>
                <th>Accept</th>
                <th>Decline</th>
            </tr>
            <tr th:each="request : ${professorRequests}">
                <td th:text="${request.studentTaxNumber}">TaxNumber</td>
                <td th:text="${request.studentName}">Name</td>                
                
                <td ><a th:href="${'/students/acceptProfessor/' + request.studentTaxNumber+'?professorTaxNumber='+request.professorTaxNumber}">Accept</a></td>
                <td >Decline</td>
                                
             
            </tr>
        </table>
    </div>
    <div th:if="${not #lists.isEmpty(studentRequests)}">
        <h2>Professor Requests List</h2>
        <table class="table table-striped">
            <tr>
                <th>Tax Number</th>
                <th>Professor Requesting</th>
                <th>Accept</th>
                <th>Decline</th>
            </tr>
            <tr th:each="request : ${studentRequests}">
                <td th:text="${request.professorTaxNumber}">TaxNumber</td>
                <td th:text="${request.professorName}">Name</td>                
                
                
                <td ><a th:href="${'/students/acceptStudent/' + request.studentTaxNumber+'?professorTaxNumber='+request.professorTaxNumber}">Accept</a></td>
                <td >Decline</td>
                                
             
            </tr>
        </table>
    </div>
      <div th:unless="${not #lists.isEmpty(studentRequests) or not #lists.isEmpty(professorRequests)}">
        <div>No Requests!</div>
    </div>
</div>

<footer th:replace="template :: footer"></footer>

</body>
</html>
